<app-page-loading *ngIf="isLoading"></app-page-loading>
<table *ngIf="!isLoading" class="table table-hover table-sm table-striped zeroMargin mb-3">
  <thead>
    <tr>
      <th scope="col">編號</th>
      <th scope="col">月租金</th>
      <th scope="col">押金</th>
      <th scope="col">狀態</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let model of modelList" (click)="openEditModal(model)">
      <td>{{model.identifier}}</td>
      <td>{{model.rent}}</td>
      <td>{{model.deposit}}</td>
      <td>{{(model.status ? '空閒' : '已出租')}}</td>
    </tr>
  </tbody>
</table>
<div *ngIf="!isLoading" class="font-weight-bold">{{((page - 1) * pageSize + 1) > collectionSize ? collectionSize :
  ((page - 1) * pageSize + 1)}} - {{page * pageSize > collectionSize ?
  collectionSize : page * pageSize}} 共 {{collectionSize}} 停車位</div>
<ngb-pagination [collectionSize]="collectionSize" [pageSize]="pageSize" [(page)]="page" (pageChange)="refresh()"
  aria-label="Default pagination"></ngb-pagination>