<div class="modal-header">
  <h4 class="modal-title">查詢停車位</h4>
  <button type="button" class="close" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">停車區</span>
    </div>
    <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="areaId">
      <option selected value="">全部</option>
      <option *ngFor="let area of areaList" value="{{area._id}}">{{area.identifier}}</option>
    </select>
    <div class="input-group-append" (click)="search()">
      <span class="input-group-text"><i class="fas fa-search"></i></span>
    </div>
  </div>
  <table class="table table-hover table-sm table-striped zeroMargin">
    <thead>
      <tr>
        <th scope="col">編號</th>
        <th scope="col">租金</th>
        <th scope="col">押金</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let model of modelList" (click)="returnModel(model)">
        <td>{{model.identifier}}</td>
        <td>{{model.rent}}</td>
        <td>{{model.deposit}}</td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination [collectionSize]="collectionSize" [pageSize]="pageSize" [(page)]="page" (pageChange)="refresh()"
    aria-label="Default pagination"></ngb-pagination>
</div>