<form class="form-horizontal" #pwdForm="ngForm" (ngSubmit)="changePassword(pwdForm)">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="cPassword">当前密碼</label>
        <div class="col-sm-10">
            <input type="password" id="cPassword" name="cPassword" class="form-control" required ngModel #cPassword="ngModel">
            <div class="alert alert-danger" *ngIf="cPassword.invalid && (cPassword.dirty || cPassword.touched)">
                請輸入當前密碼
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="password">新密碼</label>
        <div class="col-sm-10">
            <input type="password" id="password" name="password" class="form-control" required minlength="6" ngModel
                #password="ngModel" (input)="rePass.control.updateValueAndValidity()">
            <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
                <div *ngIf="password.errors.required">請輸入密碼</div>
                <div *ngIf="password.errors.minlength">
                    密碼至少要 {{password.errors.minlength.requiredLength}} 個英文字.
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="rePass">確認密碼</label>
        <div class="col-sm-10">
            <input type="password" id="rePass" name="rePass" class="form-control" required appConfirmEqualValidator="password"
                ngModel #rePass="ngModel">
            <div class="alert alert-danger" *ngIf="rePass.touched && !rePass.valid">
                <div *ngIf="rePass.errors.required">請確認密碼</div>
                <div *ngIf="rePass.errors.notEqual && !rePass.errors.required">確認密碼與輸入密碼不相符</div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-sm btn-primary btn-block btnlog" [disabled]="pwdForm.invalid">确定</button>
    <div class="alert alert-success mt-3" *ngIf="success !== undefined && success">
        <div> 密碼修改成功 </div>
    </div>
    <div class="alert alert-danger mt-3" *ngIf="success !== undefined && !success">
        <div> 当前密码错误 </div>
    </div>
</form>