<form class="form-horizontal" #pwdForm="ngForm" (ngSubmit)="saveNewPwd()">
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="currPwd">当前密碼:</label>
      <div class="col-sm-10">
          <input type="password" id="currPwd" name="currPwd" class="form-control"
          required ngModel #currPwd="ngModel">
          <div class="alert alert-danger" *ngIf="currPwd.invalid && (currPwd.dirty || currPwd.touched)">
            請輸入當前密碼
          </div>
      </div>
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="newPwd">新密碼:</label>
      <div class="col-sm-10"> 
          <input type="password" id="newPwd" name="newPwd" class="form-control"
          required minlength="6" ngModel #newPwd="ngModel"
          (input)="confPwd.control.updateValueAndValidity()">
          <div class="alert alert-danger" *ngIf="newPwd.touched && !newPwd.valid">
            <div *ngIf="newPwd.errors.required">請輸入新密碼</div>
            <div *ngIf="newPwd.errors.minlength">
              密碼至少要 {{newPwd.errors.minlength.requiredLength}} 個英文字。
            </div>
          </div>
      </div>
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="confPwd">確認密碼:</label>
      <div class="col-sm-10"> 
          <input type="password" id="confPwd" name="confPwd" class="form-control"
          required appConfirmEqualValidator="newPwd" ngModel #confPwd="ngModel">
          <div class="alert alert-danger" *ngIf="confPwd.touched && !confPwd.valid">
            <div *ngIf="confPwd.errors.required">請確認密碼</div>
            <div *ngIf="confPwd.errors.notEqual && !confPwd.errors.required">確認密碼與新密碼不相符</div>
          </div>
      </div>
  </div>
  <button type="submit" class="btn btn-sm btn-primary btn-block btnlog" [disabled]="pwdForm.invalid" (click)="saveNewPwd()">确定</button>
</form>