<div class="container-fluid">
    <form class="form-signin" #loginForm="ngForm" (ngSubmit)="resetPassword(loginForm.value)">
        <h2 class="form-signin-heading">Reset your password</h2>
    
        <ul class="list-group">
            <li class="list-group-item list-group-item-info">
                Enter your username and we will send you a link to reset your password.
            </li>
            <li class="list-group-item">
                <label for="username" class="text-left">Username</label>
                <input ngModel name="username" type="username" id="username" class="form-control" required autofocus>
                <re-captcha [(ngModel)]="formModel.captcha" name="captcha" required siteKey="6Lc_KVoUAAAAANYxeY_80ejlITLigoGYNzsjqRYm" #captchaControl="ngModel"></re-captcha>
                <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="loginForm.invalid || submitted">
                    <small>Send password reset email</small>
                </button>
            </li>
        </ul>
    </form>
</div>
