<div class="modal-header">
  <h4 class="modal-title">Upload Poster</h4>
  <button type="button" class="close" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #posterImageForm="ngForm" (ngSubmit)="uploadPosterImage()">
    <input type="file" #image accept="image/*" (change)="onFileChanged($event)">

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>