<div class="modal-header">
  <h4 class="modal-title">查詢客戶</h4>
  <button type="button" class="close" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">聯絡人</span>
    </div>
    <input type="text" class="form-control" [(ngModel)]="match" (keydown.enter)="refresh()">
    <div class="input-group-append" (click)="refresh()">
      <span class="input-group-text"><i class="fas fa-search"></i></span>
    </div>
  </div>
  <app-page-loading *ngIf="isLoading"></app-page-loading>
  <table *ngIf="!isLoading" class="table table-hover table-sm table-striped">
    <thead>
      <tr>
        <th scope="col-3">聯絡人</th>
        <th scope="col-3">電話</th>
        <th scope="col-3">車號</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let model of modelList" (click)="returnModel(model)">
        <td>{{model.pContact}}</td>
        <td>{{model.pPhone}}</td>
        <td>{{model.vehicles}}</td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="!isLoading" class="font-weight-bold">{{((page - 1) * pageSize + 1) > collectionSize ? collectionSize : ((page - 1) * pageSize + 1)}} - {{page * pageSize > collectionSize ?
      collectionSize : page * pageSize}} 共 {{collectionSize}} 客戶</div>
  <ngb-pagination *ngIf="!isLoading" [collectionSize]="collectionSize" [pageSize]="pageSize" [(page)]="page" (pageChange)="refresh()" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
      aria-label="Default pagination"></ngb-pagination>
</div>