div.container-fluid {
    height: 94%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
  }


.form-register {
    width: 330px;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    border-radius:15px;
    border-color:gray;
    border-style: solid;
}

.form-register .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-register .form-control:focus {
    z-index: 2;
}

.form-register input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-control.ng-touched.ng-invalid {
    border: 2px solid red;
}