<div class="container-fluid">
  <form class="form-signin" #loginForm="ngForm" (ngSubmit)="changePassword(loginForm.value)">
    <h2 class="form-signin-heading">Reset your password</h2>
  
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Please enter and confirm the new password.
      </li>
      <li class="list-group-item">
  
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" required minlength="6" ngModel #password="ngModel"
          (input)="rePass.control.updateValueAndValidity()">
        <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
          <div *ngIf="password.errors.required">Password is required.</div>
          <div *ngIf="password.errors.minlength">
            Password should be minimum {{password.errors.minlength.requiredLength}} characters.
          </div>
        </div>
  
        <label for="rePass">Confirm Password</label>
        <input type="password" id="rePass" name="rePass" class="form-control" required appConfirmEqualValidator="password" ngModel
          #rePass="ngModel">
        <div class="alert alert-danger" *ngIf="rePass.touched && !rePass.valid">
          <div *ngIf="rePass.errors.required">Confirm password is required.</div>
          <div *ngIf="rePass.errors.notEqual && !rePass.errors.required">Password and confirm password do not match.</div>
        </div>
  
        <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="loginForm.invalid || submitted">
          <small>Save</small>
        </button>
  
        <div class="alert alert-success" *ngIf="success">
          <div>
              Password changed sucessfully.
              <a routerLink="/login">(back to login)</a>
          </div>
        </div>
        <div class="alert alert-danger" *ngIf="success !== undefined && !success">
          <div>Token not valid or expired. Please send the password reset request again.</div>
        </div>
      </li>
    </ul>
  </form>
</div>
