<div class="container-fluid">
  <form class="form-signin" #loginForm="ngForm" (ngSubmit)="changePassword(loginForm.value)">
    <h2 class="form-signin-heading">重新設置密碼</h2>
  
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        請輸入並確認新的密碼
      </li>
      <li class="list-group-item">
  
        <label for="password">新密碼</label>
        <input type="password" id="password" name="password" class="form-control" required minlength="6" ngModel #password="ngModel"
          (input)="rePass.control.updateValueAndValidity()">
        <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
          <div *ngIf="password.errors.required">請輸入密碼</div>
          <div *ngIf="password.errors.minlength">
            密碼至少要 {{password.errors.minlength.requiredLength}} 個英文字.
          </div>
        </div>
  
        <label for="rePass">確認密碼</label>
        <input type="password" id="rePass" name="rePass" class="form-control" required appConfirmEqualValidator="password" ngModel
          #rePass="ngModel">
        <div class="alert alert-danger" *ngIf="rePass.touched && !rePass.valid">
          <div *ngIf="rePass.errors.required">請確認密碼</div>
          <div *ngIf="rePass.errors.notEqual && !rePass.errors.required">確認密碼與輸入密碼不相符</div>
        </div>
  
        <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="loginForm.invalid || submitted">
          <small>確認</small>
        </button>
  
        <div class="alert alert-success" *ngIf="success">
          <div>
              密碼修改成功
              <a routerLink="/login">(回到登入)</a>
          </div>
        </div>
        <div class="alert alert-danger" *ngIf="success !== undefined && !success">
          <div>申請超時, 請重新發送忘記密碼的請求</div>
        </div>
      </li>
    </ul>
  </form>
</div>
