<form>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fas fa-search"></i></span>
    </div>
    <div class="input-group-prepend">
      <span class="input-group-text">聯絡人</span>
    </div>
    <input type="text" name="match" class="form-control" [(ngModel)]="match">
  </div>
</form>
<table class="table table-hover table-sm table-striped">
  <thead>
    <tr>
      <th scope="col-3">聯絡人</th>
      <th scope="col-3">電話</th>
      <th scope="col-3">車號</th>
      <th scope="col-3">更改時間</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let model of modelList | startsWith:field:match" (click)="openEditModal(model)">
      <td>{{model.pContact}}</td>
      <td>{{model.pPhone}}</td>
      <td>{{model.vehicles}}</td>
      <td>{{model.dateModified}}</td>
    </tr>
  </tbody>
</table>