<div class="container-fluid">
  <form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
    <h2 class="form-signin-heading">請登入</h2>
    <app-page-loading [label]="'Login'" *ngIf="isLoading"></app-page-loading>
    <div *ngIf="!isLoading">
      <div *ngIf="invalidLogin" class="alert alert-danger">
        用戶名或密碼不正確
      </div>

      <label for="username" class="text-left">用戶名</label>
      <input [(ngModel)]="user.username" name="username" type="username" id="username" class="form-control" required
        #username="ngModel">
      <div class="alert alert-danger" *ngIf="username.touched && !username.valid">請輸入用戶名</div>

      <label for="password" class="text-left mt-2">密碼 </label> <span class="badge badge-danger" (click)="tabset.select('tab-forget-password');">忘記密碼?</span>
      <input [(ngModel)]="user.password" name="password" type="password" id="password" class="form-control" required
        #password="ngModel">
      <div class="alert alert-danger" *ngIf="password.touched && !password.valid">請輸入密碼</div>

      <label *ngIf="extraToken" for="token" class="text-left mt-2 mb-2">輸入驗證碼 </label>
      <input *ngIf="extraToken" [(ngModel)]="user.token" name="token" type="token" id="token" class="form-control"
        required #token="ngModel">

      <div class="checkbox mt-2">
        <label>
          <input type="checkbox" value="remember-me"> 保持登入
        </label>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="loginForm.invalid">確認</button>
      <button class="btn btn-lg btn-secondary btn-block" type="button" (click)="tabset.select('tab-register');">新建帳戶</button>
    </div>
  </form>
</div>