<div [formGroup]="form">
  <label [attr.for]="question.key">{{question.label}}</label>

  <div [ngSwitch]="question.controlType">

    <input *ngSwitchCase="'textbox'" 
           [formControlName]="question.key"
           [id]="question.key" 
           [type]="question.type">

    <select *ngSwitchCase="'dropdown'" 
            [formControlName]="question.key"
            [id]="question.key">
      <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
    </select>

    <div *ngSwitchCase="'radio'" 
         [formGroupName]="question.key">
      <div *ngFor="let value of question.values">
        <input [formControlName]="'value'" type="radio" [value]="value"> {{value}}
      </div> 
    </div>

    <div *ngSwitchCase="'checkbox'"
         [formGroupName]="question.key">
        <div *ngFor="let value of question.values">
          <input [formControlName]="value" type="checkbox"> {{value}}
        </div>
    </div>

    <textarea *ngSwitchCase="'textarea'" 
              [formControlName]="question.key"
              [id]="question.key"
              [rows]="question.rows"
              [cols]="question.cols">
    </textarea>

  </div> 

  <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
</div>