<app-page-loading *ngIf="isLoading"></app-page-loading>
<ngb-accordion *ngIf="!isLoading" [closeOthers]="true" #acc="ngbAccordion">
  <ngb-panel *ngFor="let model of modelList">
    <ng-template ngbPanelTitle>
      <span>{{model.identifier}}</span>
      <i class="far fa-edit" (click)="openEditModal(model, $event)"></i>
    </ng-template>
    <ng-template ngbPanelContent>
      <app-parking-lot-create [area]="model"></app-parking-lot-create>
      <app-parking-lot-table [area]="model"></app-parking-lot-table>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
<div *ngIf="!isLoading" class="font-weight-bold" [class.mt-3]="!isLoading">{{((page - 1) * pageSize + 1) >
  collectionSize ? collectionSize :
  ((page - 1) * pageSize + 1)}} - {{page * pageSize > collectionSize ?
  collectionSize : page * pageSize}} 共 {{collectionSize}} 停車區</div>
<ngb-pagination *ngIf="!isLoading" [collectionSize]="collectionSize" [pageSize]="pageSize" [(page)]="page" (pageChange)="refresh()"
    aria-label="Default pagination"></ngb-pagination>