<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel *ngFor="let model of modelList">
    <ng-template ngbPanelTitle>
      <span>{{model.identifier}}</span>
      <i class="far fa-edit" (click)="openEditModal(model)"></i>
    </ng-template>
    <ng-template ngbPanelContent>
      <table class="table table-hover table-sm table-striped zeroMargin" >
        <thead>
          <tr>
            <th scope="col">編號</th>
            <th scope="col">狀態</th>
            <th scope="col">租金</th>
            <th scope="col">押金</th>
            <th scope="col">承租人</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>出租</td>
            <td>1500</td>
            <td>500</td>
            <td>葉子新</td>
          </tr>
          <tr>
            <td>2</td>
            <td>空閒</td>
            <td>1500</td>
            <td>500</td>
            <td>無</td>
          </tr>
          <tr>
            <td>3</td>
            <td>空閒</td>
            <td>1500</td>
            <td>500</td>
            <td>無</td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </ngb-panel>
</ngb-accordion>