<div class="modal-header">
  <h4 class="modal-title">删除停車位</h4>
  <button type="button" class="close" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="form-customer" #form="ngForm" (ngSubmit)="cancel()">
    确定要删除 <span class="font-weight-bold">{{model.identifier}}</span> ?
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="deleteModel()">刪除</button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">取消</button>
    </div>
  </form>
</div>