<ngb-tabset>
  <ngb-tab title="修改密碼">
    <ng-template ngbTabContent>
        <div>
            每个tab是独立的component，component名字我没想好。本来想要tabset-change-password，但还是想征求你的意见。
            format这个只是暂时的，表格这样不是我喜欢的。
        </div>
        <form class="form-horizontal">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="currPwd">当前密碼:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="currPwd">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="newPwd">新密碼:</label>
                <div class="col-sm-10"> 
                    <input type="password" class="form-control" id="newPwd">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="confPwd">確認密碼:</label>
                <div class="col-sm-10"> 
                    <input type="password" class="form-control" id="confPwd">
                </div>
            </div>
        </form>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Fancy</b> title</ng-template>
    <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
      <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
      craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
      cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia
      yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
      shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero
      sint qui sapiente accusamus tattooed echo park.</p>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Disabled" [disabled]="true">
    <ng-template ngbTabContent>
      <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
    </ng-template>
  </ngb-tab>
</ngb-tabset>