<div class="modal-header">
  <h4 class="modal-title">創建付款</h4>
  <button type="button" class="close" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="form-customer" #form="ngForm" (ngSubmit)="submitModel(form)">
    <label for="type">種類<span class="text_red">*</span>&nbsp;</label>
    <div class="input-group mb-3">
      <div class="btn-group btn-group-toggle" ngbRadioGroup name="type" [(ngModel)]="model.type">
        <label ngbButtonLabel [class.btn-primary]="model.type === 'R'" [class.btn-dark]="model.type !== 'R'">
          <input ngbButton type="radio" value="R"> 租金
        </label>
        <label ngbButtonLabel [class.btn-primary]="model.type === 'D'" [class.btn-dark]="model.type !== 'D'">
          <input ngbButton type="radio" value="D" > 押金
        </label>
        <label ngbButtonLabel [class.btn-primary]="model.type === 'RF'" [class.btn-dark]="model.type !== 'RF'">
          <input ngbButton type="radio" value="RF"> 退租金
        </label>
        <label ngbButtonLabel [class.btn-primary]="model.type === 'RD'" [class.btn-dark]="model.type !== 'RD'">
          <input ngbButton type="radio" value="RD"> 退押金
        </label>
      </div>
    </div>
    <label for="amount">金額<span class="text_red">*</span>&nbsp;</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">NT$</span>
      </div>
      <input type="number" id="amount" name="amount" class="form-control" required [(ngModel)]="model.amount" #amount="ngModel">
    </div>
    <div class="alert alert-danger" *ngIf="amount.touched && amount.invalid">
      <div>請輸入數字</div>
    </div>

    <label for="comment">備註</label>
    <textarea id="comment" name="comment" class="form-control" row="2" [(ngModel)]="model.comment" #comment="ngModel"></textarea>

    <label>所有標註星號的（<span class="text_red">*</span>）皆為必填項。</label>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">保存</button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">取消</button>
    </div>
  </form>
</div>