<app-navbar></app-navbar>
<div class="row">
  
  <nav class="col-lg-2 d-none d-lg-block bg-light sidebar pr-0">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[{ outlets: { admin: ['dashboard'] } }]" routerLinkActive="active">
            <i class="fas fa-home text-dark"></i> <span class="text-dark">主頁</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[{ outlets: { admin: ['contract'] } }]" routerLinkActive="active">
            <i class="fas fa-file-signature text-dark"></i> <span class="text-dark">合同管理</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[{ outlets: { admin: ['customer'] } }]" routerLinkActive="active">
            <i class="fas fa-users text-dark"></i> <span class="text-dark">客戶管理</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[{ outlets: { admin: ['parking'] } }]" routerLinkActive="active">
            <i class="fas fa-parking text-dark"></i> <span class="text-dark">&nbsp;停車場管理</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[{ outlets: { admin: ['report'] } }]" routerLinkActive="active">
            <i class="fas fa-chart-bar text-dark"></i> <span class="text-dark">&nbsp;生成報告</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[{ outlets: { admin: ['setting'] } }]" routerLinkActive="active">
            <i class="fas fa-cogs text-dark"></i> <span class="text-dark">管理者設置</span>
          </a>
        </li>
        <button class="nav-item mx-3 mt-3 p-2" routerLink="/" (click)="authService.logout();"><i class="fas fa-sign-out-alt text-dark"></i><span class="text-dark">登出</span></button>
      </ul>
    </div>
  </nav>

  <main role="main" id="content" class="col-lg-10 ml-sm-auto px-4">
    <router-outlet name="admin"></router-outlet>
  </main>
</div>