<form>
    <div class="row">
        <div class="col-sm">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">聯絡人</span>
                </div>
                <input type="text" name="match" class="form-control" [(ngModel)]="contactName" (keydown.enter)="refresh()">
                <div class="input-group-append" (click)="refresh()">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">狀態</span>
                </div>
                <select class="custom-select noBorderRadius" name="isActive" [(ngModel)]="match" (change)="refresh()">
                    <option value="">全部</option>
                    <option value="true">生效</option>
                    <option value="false">終止</option>
                </select>
                <div class="input-group-append" (click)="refresh()">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                </div>
            </div>
        </div>
    </div>

</form>
<app-page-loading *ngIf="isLoading"></app-page-loading>
<table *ngIf="!isLoading" class="table table-hover table-sm table-striped zeroMargin mb-3">
    <thead>
        <tr>
            <th scope="col">聯絡人</th>
            <th scope="col">停車位</th>
            <th scope="col" (click)="setOrder('sDate')">起租日期
                <i *ngIf="order === 'sDate' && reverse == 1" class="fas fa-sort-up"></i>
                <i *ngIf="order === 'sDate' && reverse == -1" class="fas fa-sort-down"></i>
                <i *ngIf="order !== 'sDate'" class="fas fa-sort"></i>
            </th>
            <th scope="col" (click)="setOrder('pDate')">下次繳費
                <i *ngIf="order === 'pDate' && reverse == 1" class="fas fa-sort-up"></i>
                <i *ngIf="order === 'pDate' && reverse == -1" class="fas fa-sort-down"></i>
                <i *ngIf="order !== 'pDate'" class="fas fa-sort"></i>
            </th>
            <th scope="col" (click)="setOrder('pTotal')">總收款
                <i *ngIf="order === 'pTotal' && reverse == 1" class="fas fa-sort-up"></i>
                <i *ngIf="order === 'pTotal' && reverse == -1" class="fas fa-sort-down"></i>
                <i *ngIf="order !== 'pTotal'" class="fas fa-sort"></i>
            </th>
            <th scope="col">狀態</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let model of modelList" (click)="openEditModal(model)" [class.isTerminated]="!model.active">
            <td>{{model._customer.pContact}}</td>
            <td>{{model._lot.identifier}}</td>
            <td>{{model.sYear + '-' + model.sMonth + '-' + model.sDay}}</td>
            <td>{{model.active ? model.pYear + '-' + model.pMonth + '-' + model.pDay : '合同已終止'}}</td>
            <td>{{model.pTotal}}</td>
            <td>{{(model.active ? '生效' : '終止 (' + model.dateModified + ')')}}</td>
        </tr>
    </tbody>
</table>
<div *ngIf="!isLoading" class="font-weight-bold">{{((page - 1) * pageSize + 1) > collectionSize ? collectionSize :
    ((page - 1) * pageSize + 1)}} - {{page * pageSize > collectionSize ?
    collectionSize : page * pageSize}} 共 {{collectionSize}} 合同</div>
<ngb-pagination [collectionSize]="collectionSize" [pageSize]="pageSize" [(page)]="page" (pageChange)="refresh()"
    aria-label="Default pagination"></ngb-pagination>