<div class="modal-header">
  <h4 class="modal-title">Update Poster</h4>
  <button type="button" class="close" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="form-poster" #posterForm="ngForm" (ngSubmit)="updatePoster(posterForm)">

    <label for="title">Title</label>
    <input type="text" id="title" name="title" class="form-control" required [(ngModel)]="poster.title" #title="ngModel">
    <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
      <div *ngIf="title.errors.required">Title is required.</div>
    </div>

    <label for="description">Description</label>
    <textarea id="description" name="description" class="form-control" rows="3" [(ngModel)]="poster.description" #description="ngModel"></textarea>

    <label for="category">Category</label>
    <select id="category" name="category" [(ngModel)]="poster.category" required #category="ngModel" class="form-control">
      <option value="" disabled>Select Category</option>
      <option *ngFor="let category of categories">{{category}}</option>
    </select>
    <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
      <div *ngIf="category.errors.required">Category is required.</div>
    </div>

    <label for="date">Date</label>
    <input [(ngModel)]="dateStr" name="date" type="date" class="form-control">

    <div class="form-row">
      <div class="col">
        <app-time-picker [defaultValue]="startTimeStr" [placeHolder]="'Start Time'" (change)="onStartTimeChanged($event)"></app-time-picker>
      </div>
      <div class="col">
        <app-time-picker [defaultValue]="endTimeStr" [placeHolder]="'End Time'" (change)="onEndTimeChanged($event)"></app-time-picker>
      </div>
    </div>

    <label for="location">Location</label>
    <textarea id="location" name="location" class="form-control" row="2" required [(ngModel)]="poster.location" #location="ngModel"></textarea>
    <div class="alert alert-danger" *ngIf="location.touched && location.invalid">
      <div *ngIf="location.errors.required">Location is required.</div>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="posterForm.invalid">Update</button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>