<div class="container-fluid">
    <form class="form-signin" #loginForm="ngForm" (ngSubmit)="resetPassword(loginForm.value)">
        <h2 class="form-signin-heading">忘記密碼</h2>
    
        <ul class="list-group">
            <li class="list-group-item list-group-item-info">
                請輸入用戶名，然後我們將給您發重新設置密碼的連結到您的郵箱
            </li>
            <li class="list-group-item">
                <label for="username" class="text-left">用戶名</label>
                <input ngModel name="username" type="username" id="username" class="form-control" required autofocus>
                <!-- <re-captcha [(ngModel)]="formModel.captcha" name="captcha" required siteKey="6Lc_KVoUAAAAANYxeY_80ejlITLigoGYNzsjqRYm" #captchaControl="ngModel"></re-captcha> -->
                <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="loginForm.invalid || submitted">
                    確認
                </button>
                <div class="mt-2">
                    <span class="badge badge-success" *ngIf="success">郵件已發送!</span>
                    <span class="badge badge-danger" *ngIf="success !== undefined && !success">用戶名不存在!</span>
                </div>
            </li>
        </ul>
    </form>
</div>
