/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
html, body {
    height: 100%;
}

@media (min-width: 0px) {  
    .form-signin {
        width: 250px !important;
    }
    .form-register {
        width: 250px !important;
    }
}

@media (min-width: 450px) {  
    .form-signin {
        width: 330px !important;
    }
    .form-register {
        width: 330px !important;
    }
}

@media (min-width: 0px) {  
    html {font-size: 0.4rem;}
}

@media (min-width: 540px) {  
    html {font-size: 0.75rem;}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 720px) {  
    html {font-size: 1rem;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 960px) { 
    html {font-size: 1rem;}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1140px) {  
    html {font-size: 1rem;}
}

button:hover {
    cursor: pointer;
}

span.badge:hover {
    cursor: pointer;
  }