<div class="mb-2">
  <span class="dot D"></span>&nbsp;押金&nbsp;
  <span class="dot R"></span>&nbsp;租金&nbsp;
  <span class="dot RF"></span>&nbsp;退租金&nbsp;
  <span class="dot RD"></span>&nbsp;退押金
</div>
<app-page-loading *ngIf="isLoading"></app-page-loading>
<table *ngIf="!isLoading" class="table table-hover table-sm table-striped mb-3">
  <thead>
    <tr>
      <th scope="col-3">日期</th>
      <th scope="col-3">種類</th>
      <th scope="col-3">金額</th>
      <th scope="col-3">備註</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let model of modelList" [class.isR]="model.type === 'R'" [class.isD]="model.type === 'D'" [class.isRF]="model.type === 'RF'" [class.isRD]="model.type === 'RD'"
      (click)="openEditModal(model)">
      <td>{{model.dateCreated}}</td>
      <td>{{(model.type === 'D') ? '押金' : (model.type === 'RF') ? '退租金' : (model.type === 'R') ? '租金' : '退押金'}}</td>
      <td>{{model.amount}}</td>
      <td>{{model.comment}}</td>
    </tr>
  </tbody>
</table>
<div *ngIf="!isLoading" class="font-weight-bold">{{((page - 1) * pageSize + 1) > collectionSize ? collectionSize : ((page - 1) * pageSize + 1)}} - {{page * pageSize > collectionSize ?
  collectionSize : page * pageSize}} 共 {{collectionSize}} 付款</div>
<ngb-pagination *ngIf="!isLoading" [collectionSize]="collectionSize" [pageSize]="pageSize" [(page)]="page" (pageChange)="refresh()" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
  aria-label="Default pagination"></ngb-pagination>