<nav id="mainNavbar" class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="[{ outlets: { admin: ['dashboard'] } }]" (click)="setCollapsed()">停車場管理系統</a>
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
        (click)="toggleCollapsed()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
        <div *ngIf="!authService.isLoggedIn()" class="ml-auto">
                <button class="btn btn-success my-2 my-sm-0" type="button" routerLink="/login" (click)="toggleCollapsed()">登入</button>
        </div>
        <!-- <form *ngIf="!authService.isLoggedIn()" class="form-inline my-2 my-lg-0">
            <button class="btn btn-success my-2 my-sm-0" type="button" routerLink="/login" (click)="toggleCollapsed()">Login</button>
        </form> -->
        <div *ngIf="authService.isLoggedIn()" ngbDropdown class="d-inline-block ml-auto">
            <button class="btn btn-default" id="dropdownBasic1" ngbDropdownToggle><i class="fas fa-user-circle"></i>你好, 管理員!</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item" [routerLink]="[{ outlets: { admin: ['dashboard'] } }]" routerLinkActive="active" (click)="toggleCollapsed()"><i class="fas fa-home"></i> 主頁</button>
                <button class="dropdown-item" [routerLink]="[{ outlets: { admin: ['contract'] } }]" routerLinkActive="active" (click)="toggleCollapsed()"><i class="fas fa-file-signature"></i> 合同管理</button>
                <button class="dropdown-item" [routerLink]="[{ outlets: { admin: ['customer'] } }]" routerLinkActive="active" (click)="toggleCollapsed()"><i class="fas fa-users"></i> 客戶管理</button>
                <button class="dropdown-item" [routerLink]="[{ outlets: { admin: ['parking'] } }]" routerLinkActive="active" (click)="toggleCollapsed()"><i class="fas fa-parking"></i> &nbsp;停車場管理</button>
                <button class="dropdown-item" [routerLink]="[{ outlets: { admin: ['income'] } }]" routerLinkActive="active" (click)="toggleCollapsed()"><i class="fas fa-piggy-bank"></i> 收款紀錄</button>
                <button class="dropdown-item" [routerLink]="[{ outlets: { admin: ['report'] } }]" routerLinkActive="active" (click)="toggleCollapsed()"><i class="fas fa-chart-bar"></i> 生成報告</button>
                <button class="dropdown-item" [routerLink]="[{ outlets: { admin: ['setting'] } }]" routerLinkActive="active" (click)="toggleCollapsed()"><i class="fas fa-cogs"></i> 管理者設置</button>
                <!-- <button *ngIf="authService.currentUser.role === 'default'" class="dropdown-item" routerLink="/posters" routerLinkActive="active" (click)="toggleCollapsed()"><i class="fas fa-file-alt"></i>Posters</button> -->
                <button class="dropdown-item btn btn-danger" routerLink="/" (click)="authService.logout();toggleCollapsed()"><i class="fas fa-sign-out-alt"></i>&nbsp;登出</button>
            </div>
        </div>
    </div>
</nav>